@import "header";
@import "logo_nav";
@import "footer";


body{
    background: #fbfbfb;
}
.nowstation{
    width: 100%;
    background: #f3f3f3;
    color: #666;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 3px 0px 3px 0px #e1e1e1;
    .nowstation-con{
        width: 1226px;
        height: 48px;
        margin: 0 auto;
        p{
            float: left;
            height: 48px;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
        }

    }
}
.choose{
    height: 280px;
    width: 1150px;
    background: #fff;
    border: 1px solid #ccc;
    margin:30px auto 60px auto;
    padding: 0 38px;
    p{
        height: 58px;
        line-height: 58px;
        span{
            margin-left: 60px;
        }
    }
}
.list {
    width: 1226px;
    min-height: 800px;
    margin: 0 auto;
    ul{
        width: 1090px;
        margin: 0 auto;
    }
    li {
        width: 240px;
        height: 360px;
        padding: 10px;
        float: left;
        margin: 0 10px 10px 0;
        border: 1px solid #ccc;
        position: relative;
        p {
            width: 100%;
            height: 42px;
            line-height: 24px;
            overflow: hidden;
            font-size: 14px;
            color: #000;
            text-align: center;
            span {
                display: inline;
                color: #666;
                font-size: 12px;
             }
             strong{
                 color: red;
                 font-size: 16px;
                 float: left;
             }
        }
        .miaoshu{
            font-size: 12px;
            color: #666;
        }
        .price{
            line-height: 42px;
            padding-left: 30px;
        }
        img {
            width: 200px;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
    }
}

.pagelist {
    clear: both;
    width:1170px;
    margin:0 auto;
    text-align: right;
    padding-right:20px;
}
.m-style {
    width: 300px;
    margin: 0 auto;
    text-align: center; 
}

.m-style:before,
.m-style:after {
    content: "";
    display: table;
}

.m-style:after {
    clear: both;
    overflow: hidden;
}

.m-style span {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #bdbdbd;
    font-size: 14px;
}

.m-style .active {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #e91e63;
    color: #fff;
    font-size: 14px;
    border: 1px solid #e91e63;
}

.m-style a {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
}

.m-style a:hover {
    color: #fff;
    background: #e91e63;
}

.m-style .next,
.m-style .prev {
    font-family: "Simsun";
    font-size: 16px;
    font-weight: bold;
    width:80px;
}

.now,
.count {
    padding: 0 5px;
    color: #f00;
}

.eg img {
    max-width: 800px;
    min-height: 500px;
}

input {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
}