@import "resert";
body{
    background: #f5f6fb;
}
#header{
    height: 60px;
    width: 100%;
    background: #fff;
    h1{
        height: 145px;
        height: 26px;
        margin: 17px 0 17px 40px;
        float: left;
        img{
            height: 100%;
        }
       
    }
    span{
        display: block;
        float: left;
        width: 1px;
        height: 30px;
        margin: 15px;
        background: #c9c9c9;
    }
    p{
        line-height: 60px;
        font-size: 18px;
    }
}
.login{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 520px;
    height: 450px;
    border-radius: 10px;
    background: #ffffff;
    margin: auto;
    box-shadow: 3px 3px 10px #e8e8e8;
    font-size: 16px;
   
}
.login_way{

    div{
        height:60px;
        width: 50%;
        background: #fff;
        line-height: 60px;
        text-align: center;
        float: left;
        font-size: 20px;
}
.way1{
    border-top-left-radius: 10px;
}
.way2{
    border-top-right-radius: 10px;
    color: #8e98a0;
    background: #dfe4e8;
}
}
form{
    width: 382px;
    margin: 0 auto;
    input{
        border: 1px solid #bdbdbd;
        border-radius: 2px;
        width: 100%;
        height: 40px;
        text-indent: 50px;
        background: url("https://cdn.chiq-cloud.com/passport/pc/image/login_ico3.png") no-repeat left 5px center;
        background-size: 30px 30px;
    }
    input:nth-of-type(2){
        margin-top: 28px;
        background: url("https://cdn.chiq-cloud.com/passport/pc/image/login_ico4.png") no-repeat left 5px center;
        background-size: 30px 30px;

    }
    .btn{
        margin-top: 50px;
        background: none;
        text-indent: 0;
        background: #1c95f3;
        border-radius: 5px;
        color: #ffffff;
        font-size: 18px;
        cursor: pointer;
    }
    p{
        float: right;
        margin: 10px auto;
        a{
            color: #19a2e9;
            font-size: 13px;
        }
        .forget{
            border-left: 1px solid #19a2e9;
            padding-left: 5px;
        }
        
    }
}
