.logo-con {
  width: 1226px;
  height: 78px;
  margin: 0 auto;
}

.logo-con h1 {
  float: left;
}

.logo_nav {
  margin-left: 40px;
  float: left;
}

.logo_nav li {
  float: left;
}

.logo_nav li a:hover {
  color: red;
}

.logo_nav li a {
  display: block;
  width: 90px;
  line-height: 78px;
  text-align: center;
  color: #000;
}

.logo_nav .logo_col a {
  color: red;
}

.logo_navList {
  position: absolute;
  left: 0px;
  height: 230px;
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: none;
  z-index: 9999;
  background: #fff;
}

.logo_navListCon {
  width: 1226px;
  margin: 0 auto;
  height: 230px;
}
.logo_navListCon p {
  float: left;
}
.logo_navListCon p a {
  margin-left: 32px;
  line-height: 230px;
  color: #666;
}

.logo_navListConRight {
  width: 1059px;
  height: 230px;
  float: left;
  position: relative;
  margin-left: 45px;
}
.logo_navListConRight dl {
  float: left;
  width: 135px;
  height: 190px;
  margin: 25px 36px 0;
  text-align: center;
}
.logo_navListConRight dl dd {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 8px;
}

.logo_navListConRight dl .line {
  width: 1px;
  height: 120px;
  background: #eee;
  position: absolute;
  top: 35px;
  margin-left: 165px;
}

.search {
  height: 38px;
  width: 200px;
  border: 1px solid #e3e3e3;
  float: right;
  margin-top: 17px;
}

.sTxt {
  height: 38px;
  width: 155px;
  padding-left: 10px;
  line-height: 38px;
  font-size: 14px;
  color: #a9a9a9;
  float: left;
  border: none;
}

.sBtn {
  width: 30px;
  height: 38px;
  background: url("http://images.changhong.com/chgw/images/home-serach-btn_05.png") no-repeat center center;
  cursor: pointer;
  border: none;
  float: left;
}

.banner_menu {
  height: 480px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 113px;
  left: 17.8%;
  padding: 10px 0;
  z-index: 999;
}
.banner_menu ul li {
  height: 60px;
  width: 226px;
  text-align: center;
}
.banner_menu ul li a {
  color: #fff;
  height: 60px;
  line-height: 60px;
}
.banner_menu ul li li:nth-of-type(1) a {
  background: url("http://images.changhong.com/chgw/images/inner-chiq-icon.png") no-repeat left 30px center;
}
.banner_menu ul li li:nth-of-type(2) a {
  background: url("http://images.changhong.com/chgw/images/inner-TV-icon.png") no-repeat left 30px center;
}
.banner_menu ul li li:nth-of-type(3) a {
  background: url("http://images.changhong.com/chgw/images/inner-air-icon.png") no-repeat left 30px center;
}
.banner_menu ul li li:nth-of-type(4) a {
  background: url("http://images.changhong.com/chgw/images/inner-icebox-icon.png") no-repeat left 30px center;
}
.banner_menu ul li li:nth-of-type(5) a {
  background: url("http://images.changhong.com/chgw/images/inner-ele-icon.png") no-repeat left 30px center;
}
.banner_menu ul li li:nth-of-type(6) a {
  background: url("http://images.changhong.com/chgw/images/inner-digital-icon.png") no-repeat left 30px center;
}
.banner_menu ul li li:nth-of-type(7) a {
  background: url("http://images.changhong.com/chgw/images/inner-other-icon.png") no-repeat left 30px center;
}

.banner_menu ul li.active {
  background: red;
}

#banner_menuList {
  width: 480px;
  height: 476px;
  padding: 24px 40px 0;
  background: #fff;
  position: absolute;
  top: 0;
  left: 225px;
  display: none;
}

.item {
  display: none;
}

#banner_menuList div {
  padding-bottom: 30px;
}

.banner_menuListTop {
  width: 400px;
  height: 141px;
}

#banner_menuList a {
  color: #000;
  display: inline;
  text-align: left;
}

#banner_menuList p a img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  float: left;
}

.banner_one {
  height: 71px;
}
.banner_one a {
  float: left;
}

.banner_two {
  height: 62px;
  padding-top: 8px;
  border-top: 1px solid #ccc;
}
.banner_two a {
  float: left;
  margin-left: 30px;
}

.ban_a {
  height: 71px;
}

.ban_b {
  height: 39px;
}

#banner .banner_two a {
  border-left: 1px solid #e0e0e0;
  padding: 0 15px;
  font-size: 14px;
  text-align: left;
}

#banner_menuListMid, #banner_menuListBot {
  width: 400px;
  height: 110px;
}

.logo_nav li:hover .logo_navList {
  display: block;
}

/*# sourceMappingURL=logo_nav.css.map */
